	<div style="margin-top: 5px;">
	<div id="tickerMessage" style="position:absolute;height:20px;top:0px;left:300px;width:0px;overflow:hidden;color: #FFFFFF;font-size:15px;font-family:'Courier New';"></div>
	<br />
	<br />
	<div x-mojo-element="Button" id="newGame" class="myClass"></div>
	<div x-mojo-element="Button" id="highScores" class="myClass"></div>
	<div x-mojo-element="Button" id="help" class="myClass"></div>
	<div x-mojo-element="Button" id="settings" class="myClass"></div>
	<div x-mojo-element="Button" id="exitGame" class="myClass"></div>
	<br />
	<div id="vendor" style="color:#FFFFFF; font-size:smaller; margin-left: 55px;margin-top: 20px;"></div>
	<div id="label" style="color:#FFFFFF; font-size:smaller; margin-left: 35%;margin-top: 10px;"></div>
	</div>