<div style="margin-top: 10%;">
<div class="palm-group">
    <div class="palm-group-title"><span>Sound & Vibration</span></div>
           <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper">
                     <div x-mojo-element="ToggleButton" id="att-toggle"></div>
                       <div class="title left" style="color: #FFFFFF;">Ambient Music</div>
                </div>
            </div>
			<div class="palm-row last">
                <div class="palm-row-wrapper">
                       <div x-mojo-element="ToggleButton" id="att-toggle2"></div>
                       <div class="title left" style="color: #FFFFFF;">Vibration</div>
                </div>
            </div>
        </div>
    </div>
</div>